<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.whelp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <queries>
        <package android:name="com.android.chrome" />
    </queries>

    <application>
<!--        <activity-->
<!--            android:name=".WhelpActivity"-->
<!--            android:exported="false" />-->
    </application>

</manifest>